<!-- extend from "base.html" here -->

<!-- begin block content here -->

<h1></h1> <!-- insert category here -->

<div class="navbar">
  <!-- begin for loop here -->

    <a href=""></a> <!-- set attribute and text here -->
  <!-- end for loop here -->

</div>

<table>
  <colgroup>
    <col style="width: 20%">
    <col style="width: 70%">
    <col style="width: 10%">
  </colgroup>
  <tbody class="loctable">
      <!-- begin for loop here -->

      <tr>
        <td class="loc"></td> <!-- insert location name here -->
        <td class="desc"></td> <!-- insert location description here -->
        <td class="btns">
          <!-- start if statement here -->

          <form method="POST">
            <input type="submit" class="up" name="" value=&#8599;> <!-- set name attribute here -->
            <input type="submit" class="del" name="" value="X"> <!-- set name attribute here -->
          </form>
          <!-- end if statement here -->

        </td>
      </tr>
      <!-- end for loop here -->

  </tbody>
</table>

<form class="addform" action="" method="POST"> <!-- set action attribute here -->
  <!-- call hidden_tag() here -->

  <table>
    <colgroup>
      <col style="width: 40%">
      <col style="width: 40%">
      <col style="width: 20%">
    </colgroup>
    <tbody>
      <tr>
        <td></td> <!-- insert location name label here -->
        <td></td> <!-- insert location description label here -->
        <td></td> <!-- insert location category label here -->
      </tr>
      <tr>
        <td></td> <!-- insert add_location name here -->
        <td></td> <!-- insert add_location description here -->
        <td>
          <!-- begin for loop here -->

            <div></div> <!-- insert button here -->
          <!-- end for loop here -->

        </td>
      </tr>
      <tr>
        <td></td> <!-- insert submit here -->
      </tr>
    </tbody>
  </table>
</form>
<!-- end block content here -->
